body {
  background-image: url(https://wallpaper-house.com/data/out/6/wallpaper2you_100689.jpg);
}

.center {
  background-color: #f8f8f891;
  height: 150px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  align-content: center;
  padding: 10px;
  box-shadow: #000000;
}

.col1 {
  width: 30%;
  height: 35%;
  background-color: #8ADEAF;
  padding: 10px;
  float: left;
  display: inline;
}

.col2 {
  width: 30%;
  height: 35%;
  background-color: #9AF9C4;
  padding: 10px;
  float: left;
}

.col3 {
  width: 30%;
  height: 35%;
  background-color: #8ADEAF;
  padding: 10px;
  float: left;
}

#temperature {
  width: 95%;
  height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#units {
  width: 100%;
  height: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.results {
  padding: 20px;
  display: inline;
}

#convert, #reset{
  height: 30px;
  display: inline;
  width: fit-content;
}

h2 {
  color: #000000;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #8ADEAF;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
